<div id="<%= dom_id categories_listing %>">
  <p>
    <strong>Category:</strong>
    <%= categories_listing.Category_id %>
  </p>

  <p>
    <strong>Listing:</strong>
    <%= categories_listing.Listing_id %>
  </p>

</div>
