<h1>Editing categories listing</h1>

<%= render "form", categories_listing: @categories_listing %>

<br>

<div>
  <%= link_to "Show this categories listing", @categories_listing %> |
  <%= link_to "Back to categories listings", categories_listings_path %>
</div>
